.taskinput__container {
  padding: 0.5rem;
  width: 40%;
}

.textfield__form {
  display: flex;
  justify-content: space-around;
}

.textfield__input {
  width: 60%;
}

@media screen and (max-width: 800px) {
  .textfield__form {
    flex-direction: column;
  }

  .textfield__input {
    bottom: 1rem;
  }
}
