.task__list__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 1rem;
}

.task__card {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 1rem;
}

.task__icons {
  display: flex;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .task__list__container {
    width: 100%;
  }
  .task__card {
    width: 50%;
  }
}
